.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

nav {
    grid-column: 1;
    grid-row: 1;
    background-size: 835px 1100px;
    background-image: url("../../common/img/americaSite.jpg");
    background-color: #eccd9d;
}

/* Petit ecrans */
@media screen and (max-width:480px) {

    .container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
    }

    nav {
        grid-column: 1;
        grid-row: 1;
        background-size: 470px 620px;
        background-color: #eccd9d;
    }
    
}
