.splide__slide img {
    width: auto;
    height: 55vh;
  }

.splide {
  /*width: 90vw;*/
  margin: auto;
}

/* Petit ecrans */

@media screen and (max-width:812px) {
  .splide__slide img {
    width: auto;
    height: 55vh;
  }

  .splide {
    width: auto;
    height: 70vh;
  }

  #date {
    display: none;
  }
}

/* Petit ecrans */
@media screen and (max-width:480px) {
  .splide__slide img {
    width: 80vw;
    height: auto;
  }

  .splide {
    width: 100vw;
    margin: auto;
  }

  #date {
    display: block;
  }

}