body, html {
    height: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grandTitre {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.mainContent {
  text-align: justify;
  text-justify: inter-word;
}

.mainContent h2 {
  text-align: center;
}
