@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:600');

/* MENU DE GAUCHE */

nav {
    background-image: url("../img/americaSite.jpg");
    background-size: 835px 1100px;
    background-color:  #04244D;
}


/* PAGE D'ACCUEIL */

#background1 {
    height: 30%;
    background-image: url("../img/backgroundIndex.jpg");
}
  
#background2 {
    height: 30%;
    background-image: url("../img/backgroundIndex2.jpg");
}
  
#background3 {
    height: 80%;
    background-image: url("../img/backgroundIndex3.jpg");
}

/* POLICE & FOND DES PAGES AUTRES QUE l'ACCUEIL */

#mainContent {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: justify;
    text-justify: inter-word;
    background-color: #04244D;
    color: white;
    /*padding-bottom: 100px;*/
  }

/* PAGE D'ACCUEIL*/

.grandTitre {
    font-family: 'Source Serif Pro', serif;
    color: white;
}

.titreSpan {
    background-color: #04244D;
    color:  #193571;
    padding: 15px;
    font-size: 1.250em;
    letter-spacing: 8px;
}

.mainContent {
  font-family: 'Source Serif Pro', serif;
  background-color: #04244D;
  color:  white;
  font-size:1em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  width:auto;
  height:auto;
}

/* Menu de gauche */

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
	background: #04244D;
}

.dl-menuwrapper button {
	background: #04244D;
}
