@import url('https://fonts.googleapis.com/css?family=Secular+One');
* {
    margin: 0;
    padding: 0;
}

.screenSplit {
    height:50vh;
    width:100vw;
    display:flex;
    margin: auto;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.screenSplit:hover {
    filter: opacity(100%);
}

p {
    color: white;
    font-family: 'Secular One', cursive;
    text-decoration: none;
    margin: auto;
    text-align: center;
    visibility: hidden;
}

a {
    text-decoration: none;
}

a:hover p, a:active p {
    transition: all 0.3s ease-in;
    font-size: 5rem;
    visibility: visible;
    opacity: 1;
}

@media only screen and (hover: none) and (pointer: coarse){
    p {
        font-size: 5rem;
        visibility: visible;
        opacity: 1;
    }
    
}

#top_div {
    background-color: black;
}

#bottom_div {
    background-color: white;
}

#bleu {
    color : blue;
}

#blanc {
    color : white;
}

#rouge {
    color : red;
}

#rouge-es {
    color : red;
}

#jaune {
    color : yellow;
}

#violet {
    color: purple;
}
