@import url('https://fonts.googleapis.com/css?family=Secular+One');

html {
    background-color: rgb(165, 46, 26);
    color: rgb(0, 0, 0);
    font-family: 'Secular One', cursive;
}

article {
    display: block;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80vw;
    text-align: center;
}

#bienvenue {
    background-color: rgb(241, 240, 143);
}

#questionForm {
    display: none;
    background-color: rgb(241, 240, 143);
    border: black;
}

#reponseFausse {
    display: none;
    background-color: white;
    color: rgb(255, 0, 0);
}

#reponseVraie {
    display: none;
    background-color: rgb(126, 187, 90);
    border: white;
}

#headerQuestion {
    font-weight: bold;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

fieldset {
    background-color: rgb(126, 187, 90);
    width: 50%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

img {
    width: 50vw;
}

@media screen and (max-height: 480px) {
    img {
        width: 30vw;
    }

    article {
        padding-top: 0vh;
    }
}

@media screen and (max-width: 480px) {

    img {
        width: 80vw;
    }
}